<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beitone.medical.doctor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.user.UserCarteActivity"/>
        <activity android:name=".ui.user.IntroductionEditActivity"/>
        <activity android:name=".ui.user.IntroductionPreviewActivity"/>
        <activity android:name=".ui.user.RevenueActivity"/>

        <activity android:name=".ui.inquiry.TextInquiryHomeActivity"/>

        <activity android:name=".ui.inquiry.MedicalRecordActivity"/>

        <activity android:name=".ui.patient.PatientListActivity"/>
        <activity android:name=".ui.patient.PatientDetailActivity"/>
        <activity android:name=".ui.patient.ReportListActivity"/>
        <activity android:name=".ui.patient.ReportInfoActivity"/>
        <activity android:name=".ui.patient.ReportDetailActivity"/>
        <activity android:name=".ui.evaluation.EvaluationListActivity"/>
    </application>

</manifest>